<app-nav></app-nav>
<body>
  <div class="container-fluid">
    <div class="row">
      <div
        class="
          sidebar
          border border-right
          col-md-3 col-lg-2
          p-0
          bg-body-tertiary
        "
      >
        <div
          class="offcanvas-lg offcanvas-end bg-body-tertiary"
          tabindex="-1"
          id="sidebarMenu"
          aria-labelledby="sidebarMenuLabel"
        >
          <app-menu></app-menu>
        </div>
      </div>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</body>
